{{ if .Sections }}
<div class="accordion" id="accordionSections">
    {{ range (.Sections.Reverse)}}
    <div class="card">
        <div class="card-header p-0" id="heading{{.UniqueID}}">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed text-dark btn-block text-left p-2 pl-4" type="button" data-toggle="collapse" data-target="#collapse{{.UniqueID}}" aria-expanded="false" aria-controls="collapse{{.UniqueID}}">
                    <span class="title-sub-section float-left">{{.Title}} </span>
                    <span class="plus float-right">
                        <svg class="circle">
                        <g>
                            <ellipse class="background" ry="15" rx="15" cy="16" cx="16" stroke-width="2"/>
                            <ellipse class="foreground" ry="15" rx="15" cy="16" cx="16" stroke-width="2"/>
                            <line class="line line1" x1="10" y1="16" x2="22" y2="16" />
                            <line class="line line2" x1="10" y1="16" x2="22" y2="16" />
                        </g>
                        </svg>
                    </span>
                </button>
            </h5>
        </div>
        <div id="collapse{{.UniqueID}}" class="opened-list collapse" aria-labelledby="heading{{.UniqueID}}">
            <div class="card-body p-0">
                {{- partial "collapse-sections.html" . -}}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{end}}

{{ if .Pages }}
    {{ if .Sections }}<p>articles without section</p>{{ end }}
    {{ range (.Paginate ( .Data.Pages.ByLastmod.Reverse )).Pages }}
        <div class="article-short-view pl-5 position-relative">
            <h3>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </h3>
            <p>{{.Summary}}</p>
            <span class="data d-block">{{.Lastmod.Format "January 2, 2006"}}</span>
        </div>
    {{ end }}
    {{ partial "pagination.html" . }}
{{ end }}