<div class="col-lg-3  col-sm-5 col-10 mb-3 mb-sm-5 section">
    <a href="{{.Site.Params.forum.url}}" class="section-title mb-3 d-block">
        <h3>{{ .Site.Params.forum.Title }}</h3>
    </a>
    <ul id="forum-topics" class="list-unstyled mb-3"></ul>
    <a href="{{.Site.Params.forum.url}}" class="d-block counter mb-2"><span id="forum-topics-count"></span> Articles <span class="badge badge-secondary"><img src="img/arrow.png" alt="" /></span></a>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/js/forum_summary.js"></script>