<header>
	<div class="container">
		<div class="row">
			<div class="d-flex">
				<a class="navbar-brand text-white d-flex align-items-stretch mr-4" href="{{.Site.BaseURL}}">
					<img src="/img/logo.png" alt="Survey Solutions" class="float-left"/> 
					<span class="float-left ml-2">Survey <br />Solutions</span>
				</a>

				<div class="navbar-text  text-white d-flex align-items-stretch pl-4 ">
					Support portal and knowledge base
				</div>
			</div>
			<div class="d-flex  ml-auto">
				<form class="form-inline ml-auto">
						<div class="input-group search">
							<input type="text" class="form-control" placeholder="Have a Question? Ask or enter a search therm here." id="aa-search-input" >
							<div class="input-group-append">
								<button class="btn btn-search" type="button">
									<span></span>
								</button>
							</div>
						</div>
					</form>
			</div>
		</div>
	</div>
</header>