<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/favicon/favicon-support-1.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/img/favicon/favicon-support-1-48-win-ico.png" type="image/png" sizes="48x48">
    <link rel="icon" href="/img/favicon/favicon-support-1-158-General-use-iOS-Android.png" type="image/png" sizes="152x152">
    <link rel="icon" href="/img/favicon/favicon-support-1-196-Chrome-for-Android.png" type="image/png" sizes="196x196">
    <link rel="icon" href="/img/favicon/favicon-support-1-558-win10-tile.png" type="image/png" sizes="558x558">

    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/all.css" rel="stylesheet">
  </head>