<header class="px-md-3 pt-3 pb-4 pb-md-2">
	<div class="container">
		<div class="row">
			<div class="col-auto mb-3 mb-md-0">
				<a class="navbar-brand text-white mr-0" href="{{.Site.BaseURL}}">
					<img src="/img/logo.png" alt="Survey Solutions" class="float-left" />
					<span class="float-left ml-2">Survey<br />Solutions</span>
				</a>
			</div>
			<div class="col mb-3 mb-md-0">
				<div class="navbar-text  text-white pl-4">
					Support portal and knowledge base
				</div>
			</div>
			<div class="col-12 col-md-6 col-12">
				<form class="form-inline">
					<div class="input-group search w-100">
						<input type="text" class="form-control" placeholder="Have a Question? Ask or enter a search therm here." id="aa-search-input">
						<div class="input-group-append align-items-end">
							<button class="btn btn-search h-100" type="button">
								<span></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>