<head>
    {{ template "_internal/google_analytics_async.html" . }}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    {{ with .Keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end }}
    {{ if .Params.noindex }}<meta name="robots" content="noindex" />{{ end }}

    {{ template "_internal/opengraph.html" . }}
    <link rel="icon" href="/img/favicon/favicon-support-1.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/img/favicon/favicon-support-1-48-win-ico.png" type="image/png" sizes="48x48">
    <link rel="icon" href="/img/favicon/favicon-support-1-158-General-use-iOS-Android.png" type="image/png" sizes="152x152">
    <link rel="icon" href="/img/favicon/favicon-support-1-196-Chrome-for-Android.png" type="image/png" sizes="196x196">
    <link rel="icon" href="/img/favicon/favicon-support-1-558-win10-tile.png" type="image/png" sizes="558x558">
    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
    <!-- Page-specific styles -->
    {{ range (.Resources.Match "css/*") }}
    <link href="{{ .Name }}" rel="stylesheet">
    {{ end }}
</head>