<header class="px-md-3 pt-3">
	<div class="container">
		<div class="row">
			<div class="mb-3 col-lg-6 col-md-12">
				<a class="navbar-brand text-white pr-0 mr-0 float-left" href="https://mysurvey.solutions/" target="_blank">
					<img src="/img/logo.png" alt="Survey Solutions" class="float-left" />
					<span class="float-left ml-2">Survey <br />Solutions</span>
				</a>
				<a class="navbar-text  text-white pl-sm-4 ml-sm-4 pl-2 ml-2 float-left" href="{{.Site.BaseURL}}">
					Support portal and knowledge base
				</a>
			</div>
			<div class="col-lg-6 col-md-12 pt-2 mb-4 mb-lg-3">
				<form class="form-inline">
					<div class="input-group search d-flex justify-content-between w-100">
						<input type="text" class="form-control flex-fill" placeholder="Have a Question? Ask or enter a search term here." id="aa-search-input"
						/>
						<div class="input-group-append">
							<button class="btn btn-search h-100" type="button">
								<span></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>