<header class="px-sm-3 px-lg-0">
	{{ with .Site.GetPage "page" (.Site.Params.lastreleasenote) }}
	<div class="information-block">
		New
		<a href="{{.Permalink}}">{{.Title}}</a> is available now!
	</div>
	{{ end }}
	<div class="container">
		<div class="row">
			<div class="mb-lg-5 mb-4 col-lg-6 col-md-12">
				<a class="navbar-brand text-white pr-0 mr-0 float-left" href="https://mysurvey.solutions/">
					<img src="img/logo.png" alt="Survey Solutions" class="float-left" />
					<span class="float-left ml-2">Survey <br />Solutions</span>
				</a>
				<a class="navbar-text  text-white pl-sm-4 ml-sm-4 pl-2 ml-2 float-left" href="{{.Site.BaseURL}}">
					Support portal and knowledge base
				</a>
			</div>
			<div class="col-lg-6 col-md-12 pt-2 mb-5">
				<form class="form-inline">
					<div class="input-group search d-flex justify-content-between">
						<input type="text" class="form-control flex-fill" placeholder="Have a Question? Ask or enter a search therm here." id="aa-search-input"
						/>
						<div class="input-group-append">
							<button class="btn btn-search h-100" type="button">
								<span></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>