<div class="col-lg-3 col-sm-5 col-10 mb-3 mb-sm-5 mt-3 mt-sm-0 section">
	<a href="{{.Permalink}}" class="section-title mb-3 d-block mb-md-2">
		{{ with .Params.IconStyle}}
			<div class="img-container mb-sm-2">
				<span class="{{.}} float-left"></span>
			</div>
		{{ end }}
		<h3>{{ .Title }}</h3>
	</a>
	<ul class="list-unstyled mb-3">
		{{ $allpages := where (where .Site.Pages "Section" .Section) "IsPage" true }}
		{{ range first 4  $allpages.ByLastmod.Reverse }}
		<li><a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a></li>
		{{ end }}
	</ul>
	<a href="{{ .Permalink }}" class="d-block counter mb-2">{{ len $allpages }} Articles <span class="badge badge-secondary"><img src="img/arrow.png" alt="" /></span></a>
	{{ with .Params.VideoLink }}
	<a href="{{ . }}" class="d-block tutorial-link d-flex align-items-center mb-3"><span class="tutorials"></span>videos</a>
	{{ end }}
</div>
