{{ define "main" }}
<main class="container mb-3">
        {{- partial "breadcrumb.html" . -}}
    <section>
        <div class=" mb-4">
            <h2 class="mb-4 pb-4 d-block w-100 page-title">{{.Title}}</h2>
            <div class="list_of_articles">
                {{ range (.Paginate ( .Data.Pages.ByLastmod.Reverse )).Pages }}
                <div class="article-short-view pl-5 position-relative">
                    <h3>
                        <a href="{{ .Permalink }}">{{.Title}}</a>
                    </h3>
                    <p class="mb-2">{{.Summary}}</p>
                    <span class="data d-block">{{.Lastmod.Format "January 2, 2006"}}</span>
                </div>
                {{ end }}
                {{ partial "pagination.html" . }}
            </div>
        </div>
    </section>
</main>
{{ end }}