{{ define "main" }}
<main class="container mb-3">
    {{- partial "breadcrumb.html" . -}}
    <section>
        <div class=" mb-4">
            <div class="mb-5 pb-1 d-block w-100 page-title d-flex align-items-end">
                <h2 class="mb-3 mr-auto pr-3">{{.Title}}</h2>
            </div>
            {{.Content}}
            <div class="list_of_articles">
                {{- partial "collapse-sections.html" . -}}
            </div>
        </div>
    </section>
</main>
{{ end }}