{{ define "main" }}
<main class="container mb-3">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent pl-0">
          <li class="breadcrumb-item"><a href="{{.Site.BaseURL}}">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
    </div>

      <div class="row mb-4">
        <article class="article d-block w-100">
          <h2 class="mb-2 pb-4 d-block w-100 ">{{ .Title }}</h2>
          <div class="data text-right mb-2">{{.Lastmod.Format "January 2, 2006"}}</div>
          <div class="article-content">


              {{ .Content }}


          </div>
        </article>
        
      </div>

  </main>

{{ end }}