{{ define "main" }}
<main class="container mb-3">
    {{- partial "breadcrumb.html" . -}}
    <section>
        <div class=" mb-4">
            <div class="mb-5 pb-1 d-block w-100 page-title d-flex align-items-end">
                <h2 class="mb-3 mr-auto pr-3">{{.Title}}</h2>
            </div>

            <div class="container">
            {{ range .Pages.ByDate.Reverse }}
            <div class="mb-4 pb-2 border-bottom release-notes-short-view">
                <h3 class="mb-0">Survey Solutions {{index .Keywords 0}}</h3>
                <span class="d-block text-right">{{.Date.Format "January 2, 2006"}}</span>
                <h5 class="pl-4 font-weight-light">Version {{index .Keywords 0}} contains:</h5>
                <div class="pl-4">{{ with (.Resources.GetMatch "summary*") }}{{ .Content }} {{ end }}</div>
            </div>
            {{ end }}
            {{ $rest := .Site.GetPage "release-notes/rest"  }}
            {{ range (sort ($rest.Resources.Match "summary*") "Params.date" "desc") }}
                <div class="mb-4 pb-2 border-bottom release-notes-short-view">
                    <h3 class="mb-0">{{.Title}} {{index .Keywords 0}}</h3>
                    {{ if isset .Params "date" }}<span class="d-block text-right">{{.Date.Format "January 2, 2006"}}</span>{{ end }}
                    {{ if isset .Params "keywords" }}<h5 class="pl-4 font-weight-light">Version {{index .Keywords 0}} contains:</h5>{{ end }}
                    <div class="pl-4">{{ .Content }}</div>
                </div>
            {{ end }}
            </div>
        </div>
    </section>
</main>
{{ end }}